@import '../variables/';
.pagination {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination div {
    color: $white;
    float: left;
    padding: 8px 16px;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s;
    cursor: pointer;
    border-radius: 4px;
}

/* Style the active/current link */
.pagination div.active {
    background-color: $pagination-active;
}

/* Add a grey background color on mouse-over */
.pagination div:not(.active) {
    background-color: $pagination-mouse-over;
}

.page-item {
    border: 1px solid $input-border-grey;
    margin: 0 5px;
}
