@import '../variables/index.scss';

table {
    border-collapse: collapse;
    width: 100%;
}
table th,
table td {
    text-align: center;
    border: 1px solid $input-border-grey;
}
th {
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
}

td {
    padding: 10px;
    font-size: 14px;
}

table tr:nth-child(even) {
    background-color: $table-row-grey;
}

.pagination li:hover {
    cursor: pointer;
}

.sorting-columns {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.table-container {
    display: flex;
}
